@media (max-width: 768px){
    .title-bar{
        font-size: 30px;
        padding: 10px;
        border-bottom: 1px solid;
        display: flex;
        flex-direction: row;
    }

    .menu-button {
        display: block;
        background: none;
        border: 1px solid;
        margin-right: 10px;
    }

    .main-container{
        display: flex;
        flex-direction: row;
    }

    .side-bar {
        display: none;
    }

    .side-bar-display {
        display: flex;
        position: fixed;
        height: 100%;
        background-color: #fff;
        border-right: 1px solid;
        width: 80%;
        left: 0%;
    }

    .side-bar-display > ul {
        width: 100%;
    }

    .side-bar-display > ul > li {
        width: 100%;
    }

    .side-menu-button {
        display: inline-block;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid;
        padding: 10px;
        font-size: 15px;
    }

    .center-container{
        width: 100%;
        padding: 15px;
    }
}