/******************************************
**************** COLORS *******************
*******************************************/


/******************************************
**************** COMMON *******************
*******************************************/

.liske-active{
    display: block;
}

.liske-inactive{
    display: none;
}

.liske-h2 {
    font-size: 24px;
}

.liske-priority{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.liske-priority-high {
    background-color: #f75050;
}

.liske-priority-medium {
    background-color: #f7d550;
}


.liske-priority-low {
    background-color: #84f750;
}


/******************************************
****************** BARS *******************
*******************************************/

.menu-button{
    display: none;
}

/******************************************
************** CONTAINERS *****************
*******************************************/
.liske-task{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .liske-task:hover {
    padding: 15px;
    background-color: #82bcfb;
} */

.liske-task > button {
    float: right;
    position: fixed;
    right: 30px;
    background: none;
    border: none;
}