<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liske</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.mobile.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
    <!--Application Name-->
    <div class="title-bar">
        <button id="menuButton" class="menu-button" onclick="onMenuButtonClick()">
            >
        </button>
        <h1>Liske</h1>
    </div>

    <!-- Main Container -->
    <div class="main-container">
        <!--Liske Navbar-->
        <nav id="liskeNavbar" class="side-bar">
            <ul>
            {% for currentLiske in liske %}
                <li>
                    <button type="button" class="side-menu-button">
                        {{ currentLiske.liskeName }}
                    </button>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <!--End Liske Navbar-->

        <!--Current Liske list-->
        <div class="center-container">
            <!-- Liske box -->
            <div>
                {% set selectedLiske = liske[0] %}
                <!-- Selected Liske title -->
                <h2 class="liske-h2">{{ selectedLiske.liskeName }}</h2>
                <!-- Liske list -->
                <div  class="liske-box">
                    {% for currentTask in selectedLiske.liske %}
                        <div class="liske-task">
                            {% if currentTask.priority == 1 %}
                                {% set currentPriority = "liske-priority-high" %}
                            {% elif currentTask.priority == 2 %}
                                {% set currentPriority = "liske-priority-medium" %}
                            {% elif currentTask.priority == 3 %}
                                {% set currentPriority = "liske-priority-low" %}
                            {% endif %}
                            
                            <div class="liske-priority {{ currentPriority }}"></div>
                            <p>{{ currentTask.title }}</p>
                            <button>
                                X
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End Liske box-->
        </div>
        <!--End current Liske list-->
    </div>
    <!-- End Main Container -->
</body>
</html>